.matchDetailsPlayByPlay {
  width: 100%;

  &__filtersContainer {
    display: flex;
    justify-content: center;
    scroll-margin-top: 5rem;
    padding: 1rem 0;
  }

  &__teamsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__teamContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    img {
      height: 40px;
    }

    p {
      font-size: 1.15rem;
      font-weight: bold;
    }
  }

  &__playsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  @media (max-width: 768px) {
    padding: 1rem 0;

    &__filtersContainer {
      align-items: start;
      justify-content: flex-start;

      > div {
        width: 100%;
      }
    }

    &__teamsContainer {
      p {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    &__playsContainer {
      margin-top: 1.5rem;
    }
  }
}