.matchWidget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  max-width: 300px;
  margin: auto;

  img {
    height: 50px;
  }

  span {
    font-size: 1rem;
    font-weight: 500;
  }
}